.list .column.right {
  text-align: center;
  justify-content: right;
}

.list .column {
 width: 8vw;
 padding: 0 7.5px;
}

.list .column.xsmall {
  width: 3vw;
}

.list .column.small {
  width: 5vw;
}

.list .column.large {
  width: 10vw;
}

.list .column.xlarge {
  width: 15vw;
}

.list .column.actions {
  display: flex;
  gap: 10px;
}

.list .row .column {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: auto;
}

.list .row .column > * {
  margin: auto 0;
}

.list .items .row {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  margin: 0 10px;
  border-bottom: 1px solid #2c2950;
  height: 44px;
}

.list .wrapper-row {
  display: flex;
}

.list .wrapper-row:hover {
  background-color: #141733;
  cursor: pointer;
}

.filelist {
  overflow-x: auto;
}