* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: #dadada;
  background-color: #101229;
  font-size: 15px;
  font-family: consolas;
}
/*#020322; #080933; #141733;*/

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #383838; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e; 
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
  'header video'
  'explorer video';
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: column;
}

section > * {
  width: 100%;
}

.hfl {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vfl {
  display: flex;
  flex-direction: column;
}

.kv {
  display: flex;
  flex-direction: row;
  gap: 10px;

  & > .k {
    font-weight: bold;
  }
}


button {
  outline: none;
  border: 0;
}

button.grey {
  border-color: #888 !important;
}

button.red {
  border-color: #c04242 !important;
}

button.blue {
  border-color: #485ec2 !important;
}

button.green {
  border-color: #44b344 !important;
}

/* GENERAL */

.subtitle {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.NA_block {
  display: flex;
  justify-content: center;
  color: #c4c4c4;
  height: 100%;
}


.flex {
  display: flex;
}


.container.block {
  background-color: #020016; 
}

.action {
  cursor: pointer;
}

/* #151443 */

/* LEFT PANEL UNIQUE */

.container#explorer.uploading {
  grid-template-rows: 40px 1fr;
}

.explorer > .nav {
  display: flex;
  justify-content: space-between;
}

.explorer > .nav > .path {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.explorer > .nav > .upload {
  width: 100px;
  height: 28px;
  border: 1px solid #a5eba5;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px;
  font-size: 13px;
  color: #7ec77e;
  outline: 0;
}

.pinned .title {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
}

.pathInput {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: inherit;
}

.textbutton {
  font-size: 0.8em;
  cursor: pointer;
  color: #aaabda;
}

input, textarea {
  outline: none;
}